@model IEnumerable<Student.Core.Models.OrderItem>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>Line Order</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="img-thumbnail" style="height:80px" src="~/Content/DeviceImages/@item.Image" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
               R @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @String.Format("{0:c}", item.Price * item.Quantity)
            </td>
        </tr>
    }
    <tr>
    </tr>
</table>

